.cabecero {
    width: 100%;
    height: 70px;
    justify-content: center;}

.contain {
    background: #0096FF;
    border-radius: 20px;}

p {
    display: inline-block;
    margin-left: 25px;
    font-family: arial;    
    margin-top: 5px;}

section {
    display: flex;}

.style {
    font-weight: 700;
    color:white; 
    text-decoration:none;
    padding: 25px;
    border-radius: 10px;}

.style:hover {
    background: #14C38E;}

.marca_ropa {
    display: flex;
    align-items: center;
    justify-content: center;}

h3 {
    font-family: fantasy;
    color: aliceblue;} 

button {
    font-size: 25px;
    color: white;
    background: none;
    border: none;}

button:hover { 
    color: #14C38E;}
