*{
    margin:0px;
    padding:0px;
    font-family: arial;
}
ul{
    list-style:none;
}
#menu > li{
    float:left;
}
#menu li a{
    color:white;
    text-decoration:none;
    padding: 25px;
    font-weight: 700;
}
#menu li a:hover{
    background-color: #1C82AD;
    color: Black;
}
#menu li ul{
    display: none;
    position:absolute;
}
#menu li:hover > ul{
    display:block;
    color: Black;
}
li{
    margin-top: 26px;
    position: relative;
    z-index: 1;
    transition: .7s;
}
li:hover{
    background-color: #1C82AD;
    padding-top: 20px;
}