.cabecero{
    /* background-color: white; */
    width: 100%;
    height: 70px;
    justify-content: center;
}
/* img{
    margin:auto;
    display:block;
} */
.contain{
    background: #0096FF; 
}
p{
    display: inline-block;
    margin-left: 20px;
}
section{
    display: flex;
}

