.cabecero{
    width: 100%;
    height: 70px;
    justify-content: center;
}
.contain{
    background: #0096FF;
}
p{
    display: inline-block;
    margin-left: 20px;
}
section{
    display: flex;
}

.marca_ropa{
    display: flex;
    align-items: center;
    justify-content: center;
}

.gama{
    font-family: fantasy;
    color: aliceblue;
}

