<header class="cabecero">
    <!-- <img src=""> -->
</header>

<div class="container">
    <nav class="contain row">
        <p class="col">
            <app-tiposropas></app-tiposropas>
        </p>
        <p class="col">
            <app-temporadas></app-temporadas>
        </p>
        <p class="col">
            Ropa<!-- Esto es para insertar la ropa nueva -->
        </p>
        <p class="col">
            <app-empleados></app-empleados>
        </p>
        <p class="col">    
            <app-clientes></app-clientes>
        </p>

    </nav>
</div>

<br>

<div class="container">
    <section>
        <app-ropas></app-ropas>
    </section>
</div>




