.cabecero{
    width: 100%;
    height: 70px;
    justify-content: center;
}
.contain{
    background: #0096FF; 
}
p{
    display: inline-block;
    margin-left: 20px;
    font-family: arial;    
}
section{
    display: flex;
}

.style {
    font-weight: 700;
    color:white;
    text-decoration:none;
    padding: 25px;
    border-radius: 10px;
}

.style:hover {
    background: #14C38E;
}
.marca_ropa{
    display: flex;
    align-items: center;
    justify-content: center;
}
h3{
    font-family: fantasy;
    color: aliceblue;
} 
