<div class="column">
  <div class="card">
      <br>
      <p><button class="fa-solid fa-shirt"></button></p>
      <br>
      <p><strong>Marca:</strong> {{ropa.marca}}</p>
      <p><strong>Categoria:</strong> {{ropa.categoria}}</p>
      <p><strong>Talle:</strong> {{ropa.talle}}</p>
      <p><strong>Detalle:</strong> {{ropa.detalle}}</p>  
      <br>
      <button class="btnComentarios fa-solid fa-comments" [routerLink]="['/verComentarios', indice]"></button>
      <br>
      <a [routerLink]="['/ropas', indice]">Editar/Eliminar</a>
      <br>
      <a [routerLink]="['/comentariosropa', indice]">Agregar comentario</a>
      <br>
  </div>
</div>
