*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.column{
    display: inline-block;
    justify-content: center;
    align-items: center;
    margin: 35px;
    width: 350px;
    
}
.card{
    line-height:30px;
    padding: 30px;
    margin: 35px;
    background: #0096FF;
    color: white; 
    width: 100%;
    margin: 20px;
    border-radius: 6px;
    text-align: center;
    align-items: center; 
    border-radius: 25px;
}

a{
    
    background: #242F9B;
    color: white;
    text-decoration:none;
    width: 100%; 
    padding: 10px;
    border-radius: 10px;
    font-family: arial;
    display: block;
}


a:hover{
    background: #14C38E;
}
h1{
    color:#0096FF;
    font-weight: 700;
    text-align: center;
    font-size: 40px;
    font-family: arial; 
}