<app-header></app-header>
<div class="main">
    <br>
    <h1>COMENTARIOS</h1>
    <div class="column" *ngFor="let c of comentarios.body">
        <div class="card" >
            <br>
            <a class="icono fa-solid fa-comments"></a>
            <br>
            <p class="comentario">{{c.detalle}}</p>
            <br>
            <p><strong>Nombre:</strong> {{c.nombreUsuario + ' ' + c.apellidoUsuario}}</p>
            <p><strong>Fecha:</strong> {{c.fecha}}</p>
            <br>
        </div>    
    </div>    
</div>