<br>
<h1>COMENTARIOS DE ROPA</h1>
<br><br><br>
<div class="conteiner">
    <h2>FORMULARIO</h2>
    <br><br>
    <form #f="ngForm" (ngSubmit)="guardarComentario()" class="form">
        <div class="conteinerJr">
            <label>Detalle</label>
            <br>
            <input type="text" id="detalle" name="detalle" [(ngModel)]="detalle" required>
            <br><br>
            <label>Nombre</label>
            <br>
            <input type="text" id="nombre" name="nombre" [(ngModel)]="nombreUsuario" required>
            <br><br>
            <label>Apellido</label>
            <br>
            <input type="text" id="apellido" name="apellido" [(ngModel)]="apellidoUsuario" required>
            <br><br>
            <label>Fecha</label>
            <br>
            <input type="text" id="fecha" name="fecha" [(ngModel)]="fecha" required>
            <br><br><br><br>
            <button type="submit" class="btn-80"><span>Guardar</span></button>
        </div>
    </form>
    <br><br>
    
</div> 
<br><br><br>


