<app-header></app-header>
<br>
<h1>COMENTARIOS DE ROPA</h1>
<div class="main">
    <div class="container">
        <h2 class="form-title">FORMULARIO</h2>
        <form #f="ngForm" (ngSubmit)="guardarComentario()" class="form">
            <div class="main-user-info">
                <div class="user-input-box">
                    <label>Detalle</label>
                    <input type="text" id="detalle" name="detalle" [(ngModel)]="detalle" required>
                </div>
                <div class="user-input-box">
                    <label>Nombre</label>
                    <input type="text" id="nombre" name="nombre" [(ngModel)]="nombreUsuario" required>
                </div>
                <div class="user-input-box">
                    <label>Apellido</label>
                    <input type="text" id="apellido" name="apellido" [(ngModel)]="apellidoUsuario" required>
                    </div>
                <div class="user-input-box">
                    <label>Fecha</label>
                    <input type="text" id="fecha" name="fecha" [(ngModel)]="fecha" required>
                </div>  
            </div>
            <div class="form-submit-btn">
                <button type="submit" class="btn-80"><span>Guardar</span></button>
            </div>
        </form>
    </div>
</div>