<app-header></app-header>
<br><br><br><br>
<div class="main">
    <div class="container">
        <h1 class="form-title">FORMULARIO DE ROPAS</h1>
        <form #f="ngForm" (ngSubmit)="f.form.valid && guardarRopa()" class="contain">
            <div class="main-user-info">
                <div class="user-input-box">
                    <label>Marca</label>
                    <input type="text" class="field" name="marca" id="marca" [(ngModel)]="marcaInput" required>
                </div>
                <div class="user-input-box">
                    <label>Categoría</label>
                    <input type="text" class="field"  name="cate" id="cate" [(ngModel)]="categoriaInput" required>
                </div>
                <div class="user-input-box">
                    <label>Talle</label>
                    <input type="text" class="field" name="talle" id="talle" [(ngModel)]="talleInput" required>
                </div>
                <div class="user-input-box">
                    <label>Detalle</label>
                    <input type="text" class="field" name="detalle" id="detalle" [(ngModel)]="detalleInput" required>
                </div>
                <div class="user-input-box">
                    <label>Tipo de ropa</label>
                    <input type="text" class="field" name="tipoRopa" id="tipoRopa" [(ngModel)]="tipoRopaInput" required>
                </div>
                <div class="user-input-box">
                    <label>Temporada</label>
                    <input type="text" class="field" name="temporada" id="temporada" [(ngModel)]="temporadaInput" required>
                </div>
                <div class="user-input-box">
                    <label>Precio de ropa</label>
                    <input type="text" class="field" name="precioRopa" id="precioRopa" [(ngModel)]="precioRopaInput" required>
                </div>
                <div class="user-input-box">
                    <button type="submit" class="btn-80" id="btnAgregar" [disabled]="habilitaBoton">Agregar</button>
                    <!--Botón de ELIMINAR. Solo se mostrará en modo 'edición', es decir, si el índice del elemento NO es nulo.-->
                    <button type="submit" (click)="eliminarRopa()" *ngIf="indiceRopa != null" class="btn-80"
                    [disabled]="habilitaBoton">Eliminar</button>
                </div>
            </div>
        </form>
    </div>
</div>