* {
    margin:0px;
    padding:0px;
    font-family: arial;
}


ul, ol {
    list-style:none;
}

#menu > li {
    float:left;
}

#menu li a {
    color:white;
    text-decoration:none;
    padding: 25px;
    display:block;
    font-weight: 700;
}

#menu li a:hover {
    border-radius: 10px;
    background-color:#14C38E;
}

#menu li ul {
    display:none;
    position:absolute;
    min-width:140px;
}

#menu li:hover > ul {
    display:block;
}